.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin: 1em;
}

.item a {
  color: rgb(252, 252, 252);
  text-decoration: none;
}

.item a:hover {
  color: rgb(202, 4, 4);
  text-shadow: 0 0 20px rgb(218, 1, 44);
}

img {
  margin-top: 3px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  transition: 0.5s;
}

img:hover {
  filter: drop-shadow(4px 4px 4px rgb(202, 4, 4));
}
